$color1: #9146ff;
$color2: #f0f0f0;
$color3: #778285;
$color4: #fdf3c7;
$color5: #55455c;
$fontFamily: GenSenRounded TW;

body {
  font-family: $fontFamily;
  min-height: 100vh;
  background: $color4;
}

h1 {
  font-family: $fontFamily;
  font-size: 95px !important;
  font-weight: bold !important;
  line-height: 95px !important;
  letter-spacing: -1.5px;
  text-decoration: none;
}

h2 {
  font-family: $fontFamily;
  font-size: 59px !important;
  font-weight: 500 !important;
  line-height: 59px !important;
  letter-spacing: -0.5px;
  text-decoration: none;
}

h3 {
  font-family: $fontFamily;
  font-size: 48px !important;
  font-weight: bold !important;
  line-height: 48px !important;
  letter-spacing: 0px;
  text-decoration: none;
}

h4 {
  font-family: $fontFamily;
  font-size: 34px !important;
  font-weight: bold !important;
  line-height: 34px !important;
  letter-spacing: 0.25px;
  text-decoration: none;
}

h5 {
  font-family: $fontFamily;
  font-size: 24px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  letter-spacing: 0px;
  text-decoration: none;
}

h6 {
  font-family: $fontFamily;
  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  letter-spacing: 0.15px;
  text-decoration: none;
}

.bg-color1 {
  background-color: $color1 !important;
}

.bg-color2 {
  background-color: $color2 !important;
}

.bg-color3 {
  background-color: $color3 !important;
}

.bg-color4 {
  background-color: $color4 !important;
}

.bg-color5 {
  background-color: $color5 !important;
}

.text-color1 {
  color: $color1 !important;
}

.text-color2 {
  color: $color2 !important;
}

.text-color3 {
  color: $color3 !important;
}

.text-color4 {
  color: $color4 !important;
}

.text-color5 {
  color: $color5 !important;
}

.goTop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $color1;
  position: fixed;
  right: 5vw;
  bottom: 5vw;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  color: $color2;
}

.left-menu {
  position: fixed;
  top: 0;
  left: -345px;
  transition: 0.5s ease-in;
}

.left-menu-active {
  left: 0;
}

.left-menu-body {
  width: 345px;
  height: 100vh;
  background: $color1;
  color: $color2;

  >ul {
    margin-top: 2rem;
    list-style-type: none;

    li {
      margin-bottom: 1rem;

      a {
        color: $color2;
      }
    }
  }
}

.left-menu-tag {
  width: 30px;
  height: 100px;
  background: $color1;
  color: $color2;
  border-radius: 0 10px 10px 0;
  line-height: 100px;
  text-align: center;
  transition: .5s;
}