body {
  font-family: GenSenRounded TW;
  min-height: 100vh;
  background: #fdf3c7;
}

h1 {
  font-family: GenSenRounded TW;
  font-size: 95px !important;
  font-weight: bold !important;
  line-height: 95px !important;
  letter-spacing: -1.5px;
  text-decoration: none;
}

h2 {
  font-family: GenSenRounded TW;
  font-size: 59px !important;
  font-weight: 500 !important;
  line-height: 59px !important;
  letter-spacing: -0.5px;
  text-decoration: none;
}

h3 {
  font-family: GenSenRounded TW;
  font-size: 48px !important;
  font-weight: bold !important;
  line-height: 48px !important;
  letter-spacing: 0px;
  text-decoration: none;
}

h4 {
  font-family: GenSenRounded TW;
  font-size: 34px !important;
  font-weight: bold !important;
  line-height: 34px !important;
  letter-spacing: 0.25px;
  text-decoration: none;
}

h5 {
  font-family: GenSenRounded TW;
  font-size: 24px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  letter-spacing: 0px;
  text-decoration: none;
}

h6 {
  font-family: GenSenRounded TW;
  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  letter-spacing: 0.15px;
  text-decoration: none;
}

.bg-color1 {
  background-color: #9146ff !important;
}

.bg-color2 {
  background-color: #f0f0f0 !important;
}

.bg-color3 {
  background-color: #778285 !important;
}

.bg-color4 {
  background-color: #fdf3c7 !important;
}

.bg-color5 {
  background-color: #55455c !important;
}

.text-color1 {
  color: #9146ff !important;
}

.text-color2 {
  color: #f0f0f0 !important;
}

.text-color3 {
  color: #778285 !important;
}

.text-color4 {
  color: #fdf3c7 !important;
}

.text-color5 {
  color: #55455c !important;
}

.goTop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #9146ff;
  position: fixed;
  right: 5vw;
  bottom: 5vw;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  color: #f0f0f0;
  -webkit-transition: .5s;
  transition: .5s;
}

.left-menu {
  position: fixed;
  top: 0;
  left: -300px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: .9;
}

.left-menu-active {
  left: 0;
}

.left-menu-body {
  width: 300px;
  height: 100vh;
  background: #9146ff;
  color: #f0f0f0;
}

.left-menu-body > ul {
  margin-top: 2rem;
  list-style-type: none;
}

.left-menu-body > ul li {
  margin-bottom: 1rem;
}

.left-menu-body > ul li a {
  color: #f0f0f0;
}

.left-menu-tag {
  width: 30px;
  height: 100px;
  background: #9146ff;
  color: #f0f0f0;
  border-radius: 0 10px 10px 0;
  line-height: 100px;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.stalker {
  width: 15px;
  height: 15px;
  background: rgba(255, 166, 0, 0.5);
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

@media (max-width: 380px) {
  .stalker {
    display: none;
  }
}

.rotateBall {
  pointer-events: none;
  -webkit-animation: rotateBall 3s linear infinite;
          animation: rotateBall 3s linear infinite;
  width: 80px;
  height: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
}

@media (max-width: 380px) {
  .rotateBall {
    display: none;
  }
}

.rotateBall .ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(134, 228, 170, 0.6);
}

@-webkit-keyframes rotateBall {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateBall {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=public.css.map */